body {
    background-color: #A6CEB8;
}

.main-container {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 50%;
    min-height: 900px;
    height: 100vh;
    overflow-x: hidden;  
    text-align: center;
}

.main-content {
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    /* height: 100vh; */
    width: 100vw;
}

.login-fields-container {
    margin-top: 50px;

}

input {
    height: 30px;
    width: 70%;
    /* background-color: rgb(250, 255, 189); */
    margin: 15px;
    border: 1px solid #519872;
}

.input-descr {
    font-weight: bold;
    font-size: 20px;
    padding-right: 55%;
}

button {
    font-weight: bold;
    font-size: 14px;
    margin: 0 15px;
}

.login-button {
    background-color: #8aea92;
    /* height: 4vh; */
    /* width: 7vw; */
    min-height: 4vh; 
    min-width: 7vw;
}

.register-button {
    color: #fff;
    background-color: #3b5249;
    height: 4vh;
    width: 7vw;
}